.icon-48-payments {
      background-image: url(../images/l_payments.png);
      padding-left:60px!important;
}

.icon-48-payment {
      background-image: url(../images/l_payments.png);
      padding-left:60px!important;
}

